a {
  color: #ffffff;
  color: #3e594e;
  color: #518270;
  color: #d1832e;
  color: #F3AE6C;
  color: #536a9d;
  color: #47629E;
  color: #744DF7;
  color: #0070CC;
  color: #0D7A75;
  color: #0F79BF;
  color: #417E2A;
  color: #4B8500;
  color: #EE4970;
  color: #F3CB41;
  color: #2C820D;
  color: #038217;
  color: #18803A;
  color: #5B7709;
  color: #FEFBEA;
  color: #F3E7D3;
  color: #F0DFCA;
  color: #EBD7BE;
  color: #787671;
  color: #6b6560;
  color: #79716c;
  color: #867e78;
}
